@CHARSET "UTF-8";

.dkong {
    float: left;
    width: 5px;
    height: 29px !important;
    height: 28px;
    padding: 0px;
    margin: 4px 0px 0px 0px;
    overflow: hidden;
}

.tdback {
    border-bottom: solid #000 1px;
}

.dselect {
    float: left;
    height: 28px;
    line-height: 28px;
    padding: 0px 15px 0px 15px;
    margin: 4px 0px 0px 0px;
    text-align: center;
    border-left: solid #000 1px;
    border-top: solid #000 1px;
    border-right: solid #000 1px;
    background-color: #FFF;
    cursor: pointer;
    overflow: hidden;
}

.dshow {
    float: left;
    height: 25px;
    line-height: 28px;
    padding: 0px 15px 0px 15px;
    margin: 7px 0px 0px 0px;
    text-align: center;
    border-left: solid #999 1px;
    border-top: solid #999 1px;
    border-right: solid #999 1px;
    background-color: #eee;
    cursor: pointer;
    overflow: hidden;
}

.rightdiv {
    float: right;
    height: 25px;
    line-height: 28px;
    padding: 0px;
    margin: 7px 0px 0px 0px;
}