<script language="JavaScript" type="text/javascript" src="/admin/page/script/checkurl.php"></script>
<script language="JavaScript" type="text/javascript">
    <!--
    function checksubmit(){    
		var enReg = /^[A-Za-z0-9-_]+$/;            
		if ((g("name").value) == "") {
            window.alert('请填写名称！');
            g("name").select();
            g("name").focus();
            return false;
        }else if ((g("appname").value) == "") {
            window.alert('请选择类型！');
            return false;
        }else if(!enReg.test(g("label").value)){
			alert('只能使用大小写英文字符，数字，中下划线作为访问标识！');	
			g("label").select();
            g("label").focus();
			return false;
		}else {
            g("Submit").value = "数据提交中……";
            g("Submit").disabled = true;
            return true;
        }
    } 
	
	function c(val) {		
		if(val==0){
			var msg="访问标识'"+g("label").value+"'已经被使用!";
			alert(msg);
			g("label").select();
            g("label").focus();
		}
	}
	function checkurl(){
		if(g("appname").value!='page') return;
		if(g("label").value==''||g("label").value=='homepage') return;
		x_checkurl(g("label").value,g("pageid").value,g("pagecate").value,{%$smarty.get.pid%},c);
	}           
    //-->
</script>
<form action="app.php?act=post&pid={%$smarty.get.pid%}&tab={%$smarty.get.tab%}" method="post" name="form1" id="form1" onSubmit="javascript:return checksubmit();">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center">
                <table width="98%" border="0" align="center" cellpadding="3" cellspacing="1"  class="color1" style="vertical-align:top;">
                    <tr class="dhbg">
                        <td width="13%" height="18" align="center">
                            项&nbsp;&nbsp;&nbsp;&nbsp;目
                        </td>
                        <td width="87%" align="left">
                            内容&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td align="center" bgcolor="#FFFFFF">
                            名&nbsp;&nbsp;&nbsp;&nbsp;称
                        </td>
                        <td align="left" bgcolor="#FFFFFF">
                            <input name="name" type="text" id="name" style="width:100%;"  value="{%$rs.name%}"/>
                        </td>
                    </tr>
					<tr>
                        <td align="center" bgcolor="#FFFFFF">
                            分&nbsp;&nbsp;&nbsp;&nbsp;类
                        </td>
                        <td align="left" bgcolor="#FFFFFF">
                        	<select name='categorise' id='categorise'>
                        		<option value='home'{%if $cate=='home'%} selected='selected'{%/if%}>栏目</option>
                        		<option value='app'{%if $cate=='app'%} selected='selected'{%/if%}>功能</option>
								<option value='page'{%if $cate=='page'%} selected='selected'{%/if%}>页面</option>
                        	</select>
							[&nbsp;只有在目标分类中存在的模块才能使用此选项，否则勾选此项的操作会被忽略！&nbsp;]
                        </td>
                    </tr>
					<tr>
                        <td align="center" bgcolor="#FFFFFF">
                            类&nbsp;&nbsp;&nbsp;&nbsp;型
                        </td>
                        <td align="left" bgcolor="#FFFFFF">
                        	<select name='appname' id='appname'>
                        		<option value=''>请选择{%$page_nav%}类型</option>
								{%foreach from=$modlist item=val key=key%}
								<option value='{%$key%}'{%if $rs.appname==$key%} selected='selected'{%/if%}>{%$val.name|default:''%}</option>{%/foreach%}
                        	</select>
							<input name="originAppName" id="originAppName" type="hidden" value="{%$rs.appname%}"/>
							<input name="originAppLabel" id="originAppLabel" type="hidden" value="{%$rs.label%}"/>
                        </td>
                    </tr>
					{%if !empty($apptypelist)%}
					<tr>
                        <td align="center" bgcolor="#FFFFFF">
                            应用设置
                        </td>
                        <td align="left" bgcolor="#FFFFFF">
                        	<select name='apptype' id='apptype'>
                        		<option value='None'>无</option>
								{%foreach from=$apptypelist item=val key=key%}
								<option value='{%$key%}'{%if $rs.apptype==$key%} selected='selected'{%/if%}>{%$val.name|default:''%}</option>{%/foreach%}
                        	</select>
                        </td>
                    </tr>
					{%/if%}
					<tr>
                        <td align="center" bgcolor="#FFFFFF">
                            标&nbsp;&nbsp;&nbsp;&nbsp;识
                        </td>
                        <td align="left" bgcolor="#FFFFFF">
                            <input name="label" type="text" id="label" style="width:180px;" onblur="checkurl();" value="{%$rs.label|default:''%}"/>
							访问标识只能使用大小写英文字符，数字，中下划线
                        </td>
                    </tr>
					<tr>
                        <td align="center" bgcolor="#FFFFFF">
                            链&nbsp;&nbsp;&nbsp;&nbsp;接
                        </td>
                        <td align="left" bgcolor="#FFFFFF">
                            <input name="link" type="text" id="link" style="width:100%;"  value="{%$rs.link|default:''%}"/>
                        </td>
                    </tr>
					<tr>
				        <td align="center" bgcolor="#FFFFFF">状&nbsp;&nbsp;&nbsp;&nbsp;态</td>
				        <td align="left" bgcolor="#FFFFFF">
				          <input type="radio" name="status" value="Y" {%if $rs.status=='Y'%}checked="checked"{%/if%} />
				          正常&nbsp;
				          <input type="radio" name="status" value="N" {%if $rs.status!='Y'%}checked="checked"{%/if%} />
				          关闭&nbsp;
						 </td>
				    </tr>
					<tr>
                        <td align="center" bgcolor="#FFFFFF">
                            备&nbsp;&nbsp;&nbsp;&nbsp;注
                        </td>
                        <td align="left" bgcolor="#FFFFFF">
                            <textarea name="remark" id="remark" rows="4" style="width:100%;">{%$rs.remark|default:''%}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="right" bgcolor="#FFFFFF">
							{%if !empty($rs)%}
							<input name="eid" id="eid" type="hidden" value="{%$rs.id%}"/>
							{%/if%}
							<input name="pageid" id="pageid" type="hidden" value="{%$pages.id|default:0%}"/>
							<input name="pagecate" id="pagecate" type="hidden" value="{%$pages.categorise|default:'Alias'%}"/>
							<input type="submit" name="Submit" id="Submit" value="保存"/>&nbsp;&nbsp;<input name="Reset" type="reset" id="Reset" value="重置"/>&nbsp;&nbsp;
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
</table>
</form>