<script language="JavaScript" type="text/javascript">
	function checkSubmit(){

		if ((g("nickname").value) == "") {
            window.alert('请填写用户名！');
            g("nickname").select();
            g("nickname").focus();
            return false;
        }else {					
			g("Submit").value = "数据提交中……";
            g("Submit").disabled = true;
            return true;
		}				
    }
	{%if !empty($smarty.get.nickname)%}
	window.onload=function(){
		{%if $smarty.get.type=='notExists'%}
		alert('用户名 {%$smarty.get.nickname%} 不存在!');
		{%/if%}
		{%if $smarty.get.type=='Exists'%}
		alert('用户名 {%$smarty.get.nickname%} 的授权已经存在!');
		{%/if%}
	}
	{%/if%}			
</script>

<form id="form1" name="form1" method="post" action="./authz.php?act=post&pid={%$smarty.get.pid%}" onsubmit="javascript:return checkSubmit();">
    <table width="98%" border="0" align="center" cellpadding="3" cellspacing="1" class="color1" style="vertical-align:top;">
        <tr class="dhbg">
            <td width="120" height="20" align="center" class="whitestyle">
                项&nbsp;&nbsp;&nbsp;&nbsp;目
            </td>
            <td align="left" class="whitestyle">
                内&nbsp;&nbsp;&nbsp;&nbsp;容
            </td>
        </tr>
        <tr>
            <td align="center" bgcolor="#FFFFFF">
                用户名：
            </td>
            <td align="left" bgcolor="#FFFFFF">
                <input name="nickname" type="text" id="nickname" style="width:96%" value="{%if !empty($rs.nickname)%}{%$rs.nickname%}{%/if%}"/>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right" bgcolor="#FFFFFF">
                {%if !empty($rs.id)%}
					<input type="hidden" name="eid" id="eid" value="{%$rs.id%}"/> 
					<input type="hidden" name="uid" id="uid" value="{%$rs.uid%}"/> 
				{%/if%}
				<input type="hidden" name="pid" id="pid" value="{%$smarty.get.pid%}"/>
				<input type="submit" name="Submit" id="Submit" value="保存" />&nbsp;&nbsp;
				<input name="Reset" type="reset" id="Reset" value="重置" />&nbsp;&nbsp;
            </td>
        </tr>
    </table>
</form>