<!--设置权限-->
<div style="clear:both;">
    <form name="formlist" id="formlist" method="post" action="" target="_self" style="margin:0px;padding:0px;">
        <table width="98%" border="0" align="center" cellpadding="3" cellspacing="1" class="color1" style="vertical-align:top;">
			<tr class="dhbg">
                <td width="40" height="24" align="center">
                    序号
                </td>
                <td align="left">
                    已被授权的用户名
                </td>
                <td align="center" width="40" align="center">
                    选项
                </td>
            </tr>
            {%if !empty($result)%}
            {%foreach from=$result name=result  item=value%}
            {%assign var="indexNum" value=$smarty.foreach.result.index+1%}
            <tr valign="top" bgcolor="#FFFFFF" id="bgtr{%$indexNum%}" onMouseOver="MouseColorOver('bgtr{%$indexNum%}');" onMouseOut="MouseColorOut('bgtr{%$indexNum%}');">
                <td align="center">
                    <strong>{%$indexNum%}</strong>
                </td>
                <td align="left" style='font-size:14px;'>
					{%$value.nickname%}&nbsp;&nbsp;					
					{%if $powerType=='site'%}&nbsp;[<a href="/admin/member/index.php?act=empower&siteid={%$smarty.get.pid%}&id={%$value.uid%}&tab=empower&from={%$setAuthzFrom%}" style='color:brown;'>设定权限</a>]{%/if%}
                </td>
                <td align="center">
                    <input type="checkbox" name="id[]" id="item_id{%$indexNum%}" value="{%$value.id%}" onclick="ResetTrBgcolor('bgtr{%$indexNum%}','#FFFFFF'); unCheckAll();">
                </td>
            </tr> {%/foreach%}
            {%else%}
            <tr>
                <td height="24" colspan="3" align="left" bgcolor="#FFFFFF" style="color:#FF0000">
                    &nbsp;当前记录为空！
                </td>
            </tr>
            {%/if%} 
        </table>
		<input name="checkid" type="hidden" id="checkid" value="">
        <input name="allnum" id="allnum" type="hidden" value="{%$indexNum%}"/>
    </form>
</div>