<!--设置权限-->
<script language="JavaScript" type="text/javascript" src="/js/lib.js"></script>
<script language="JavaScript" type="text/javascript" src="/admin/member/js/frame.js"></script>
<div id='ifrBG'></div>
<div id="ifrBox" style="background:transparent;position:absolute;left:0px;top:150px;width:100%;margin-left:auto;margin-right:auto;	text-align:center;	z-index:3;	display:none;">
    <table style="border:8px solid #EEE;" width="55%" border="0" align="center" cellpadding="3" cellspacing="1" class="color1">
        <tr class="dhbg">
	        <td height="30" align="left">
	            <div style="float:left;font-size:14px;padding:0px 8px;line-height:26px;" id="ifrBoxTitle"></div>
				<div style="float:right;font-size:14px;padding:0px 8px;line-height:26px;cursor:pointer;" onclick="self.location='/admin/member/index.php?act=empower&id={%$smarty.get.id%}&tab=empower';">关闭</div>
	        </td>
    	</tr>
		<tr>
            <td align="center" valign="middle" style="background-color:#FFFFFF;">
                <iframe id="ifrFrame" src="/admin/member/blank.html" height="270" width="100%" frameborder="no" scrolling="auto"></iframe>
            </td>
        </tr>
    </table>
</div>
<div style="clear:both;">
    <form name="formlist" id="formlist" method="post" action="" target="_self" style="margin:0px;padding:0px;">
        <table width="98%" border="0" align="center" cellpadding="3" cellspacing="1" class="color1">
			<tr class="dhbg">
                <td width="40" height="24" align="center">
                    序号
                </td>
                <td align="left">
                    已被授权的站点
                </td>
                <td align="center" width="40" align="center">
                    选项
                </td>
            </tr>
            {%if !empty($result)%}
            {%foreach from=$result name=result  item=value%}
            {%assign var="indexNum" value=$smarty.foreach.result.index+1+$basepagenum%}
            <tr valign="top" bgcolor="#FFFFFF" id="bgtr{%$indexNum%}" onMouseOver="MouseColorOver('bgtr{%$indexNum%}');" onMouseOut="MouseColorOut('bgtr{%$indexNum%}');">
                <td align="center">
                    <strong>{%$indexNum%}</strong>
                </td>
                <td align="left" style='font-size:14px;'>
					{%$value.site.name%}&nbsp;&nbsp;		
					[<a href="/admin/member/index.php?act=empower&siteid={%$value.pid%}&id={%$smarty.get.id%}&tab=empower" style='color:brown;'>设定权限</a>]
                </td>
                <td align="center">
                    <input type="checkbox" name="id[]" id="item_id{%$indexNum%}" value="{%$value.id%}" onclick="ResetTrBgcolor('bgtr{%$indexNum%}','#FFFFFF'); unCheckAll();">
                </td>
            </tr> {%/foreach%}
            {%else%}
            <tr>
                <td height="24" colspan="7" align="left" bgcolor="#FFFFFF" style="color:#FF0000">
                    &nbsp;当前记录为空！
                </td>
            </tr>
            {%/if%} 
        </table>
		<table width="98%" height="26" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td height="24" align="left">
                <a href="#" class="tishilink" onClick="SuperCheckAll();return false;">全选</a>
            </td>
            <td align="right">
                {%if !empty($result)%}{%include file="$pagenavtpl"%}{%/if%}
            </td>
        </tr>
    </table>
        <input name="allnum" id="allnum" type="hidden" value="{%$indexNum%}"/>
    </form>
</div>