<div id="debug"></div>
<form name="formlist" id="formlist" method="post" action="" style='margin:0px;'>
  <table id="bgtr" width="98%" border="0" align="center" cellpadding="3" cellspacing="1" class="color1" style="vertical-align:top;">
      <tr class="dhbg">
        <td width="40" height="24" align="center">序号</td>
        <td width="240" align="left" valign="middle">名称</td>
		<td align="left" valign="middle">说明</td>
		<td width="100" height="24" align="center">调用标识</td>
        <td width="40" align="center">选项</td>
      </tr>
      {%if !empty($result)%}
      {%foreach from=$result name=result  item=value%}
	  {%assign var="indexNum" value=$smarty.foreach.result.index+1%}
	   <tr id="bgtr_{%$indexNum%}" valign="top" bgcolor="#FFFFFF" onMouseOver="MouseColorOver('bgtr_{%$indexNum%}');" onMouseOut="MouseColorOut('bgtr_{%$indexNum%}');">
        <td height="24" align="center">
        	<strong>{%$indexNum%}</strong>&nbsp;
			{%*是否排序*%}<input name="flag{%$indexNum%}" type="hidden" id="flag{%$indexNum%}" value="N">
		    {%*数据ID*%}<input name="rid{%$indexNum%}" type="hidden" id="rid{%$indexNum%}" value="{%if !empty($value.id)%}{%$value.id%}{%/if%}">
		    {%*排序ID*%}<input name="ord{%$indexNum%}" type="hidden" id="ord{%$indexNum%}" value="{%if !empty($value.order)%}{%$value.order%}{%/if%}">
		</td>
		<td height="24" align="left">
			<a href="index.php?mid={%$value.id%}&rid={%$smarty.get.mid%}&cate={%$smarty.get.cate%}&rootid={%if $value.rootid==0%}{%$value.id%}{%else%}{%$value.rootid%}{%/if%}" class="tishilink">{%$value.name%}</a>
			&nbsp;&nbsp;{%if $value.num>0 %}<strong style="font-size:8pt;">({%$value.num%})</strong>{%/if%}
			&nbsp;&nbsp;{%if $value.isshow=='0'%}[ <span style='color:red;'>未公开</span> ]{%/if%}
		</td>
		<td height="24" align="left">{%if empty($value.note)%}N/A{%else%}{%$value.note%}{%/if%}</td>	
		<td height="24" align="center">{%if empty($value.idname)%}N/A{%else%}{%if $value.num>0 %}<a href='index.php?act=show&cate={%$smarty.get.cate%}&key={%$value.idname%}&pos={%$navpos%}' class="tishilink">{%$value.idname%}</a>{%else%}{%$value.idname%}{%/if%}{%/if%}</td>
        <td align="center"><input type="checkbox" name="id[]"  id="item_id{%$indexNum%}" value="{%$value.id%}" onClick="ResetTrBgcolor('bgtr_{%$indexNum%}');"></td>
      </tr>
     {%/foreach%}
	 {%else%}
      <tr>
        <td height="24" colspan="5" align="left" bgcolor="#FFFFFF" style="color:#FF0000">&nbsp;当前记录为空！</td>
      </tr>{%/if%}
    </table>
	<input name="allnum" id="allnum" type="hidden" value="{%$indexNum%}"/>
</form>
<script language="JavaScript" type="text/javascript">tbOrder.init('bgtr');</script>
{%if !empty($checkalert)%}
<script language="JavaScript" type="text/javascript">alert("您要添加的标签已经被使用，请重新设置！");</script>
{%/if%}